{% extends 'begin/base.html' %}
{% load static %}
{% block body %}
<!--<section id="services" class="services wow fadeIn">-->
<!--<div class="container text-center">-->
<!--<h1 class="title">WHAT WE DO?</h1>-->
<!--<div class="row text-center">-->

<!--<div class="col-md-6 services">-->
<!--<h4>Detailed Specialist</h4>-->
<!--<p>On the basis of disease predicted,we provide you a detailed list of Specialist.</p>-->
<!--<img src = "{% static 'images/service.jpg' %}" class="service-img" />-->


<!--</div>-->
<!--</section>-->
<section id="services" class="services wow fadeIn">


    <div class="servicediv">
        <p>We help the users to sell the books which is not needed for them and which is useless
            keeping those books with them.</p>
        <p>It will be useful for those book loving buyers who want to gain new knowledge.</p>
    </div>
</section>
{% endblock %}